<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="menu_block">
					<div class="container_12">
						<div class="grid_12">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li class="current"><a href="index.html">Home</a></li>
									<li><a href="aboutus.html">About</a></li>
									<li><a href="bikes.html">Bikes</a></li>
									<li><a href="service.html">Services</a></li>
									<li><a href="contact.html">Contacts</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="signup.html">Sign-up</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="container_12">
					<div class="grid_12">
						<h1>
							<a href="index.html">
								<img src="images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
					</div>
				</div>
				<div class="clear"></div>
			</header>
<!--==============================Content=================================-->
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
				<div class="container_12">
					<div class="grid_7">
						<h3>A Few Words About Us</h3>
						<img src="images/page2_img11.jpg" alt="" class="img_inner fleft">
						<div class="extra_wrapper">
							<div class="text1 color2">
								<a href="#">Looking for Two Wheelers on Rent?</a>
							</div>
							<p>YOURBIKE Bikes is the most affordable bike rental company in India. We specialize in motorcycle rental, from short-term motorbike rental to long-term hiring or leasing, from bike tours to bike maintenance and service – we have it all.  </p>
							
						</div>
						<div class="clear cl1"></div>
						<p>We have bike rentals in al over Kerala. We have a wide range of geared, non-geared two wheelers and scooters for rent. We have become one of India’s leading bike rentals because we simplified the process and made it affordable. Have a look at our Offers and Deals section specially tailored for your needs.</p>
						We believe that each one of us is unique. Being unique means we all have different likes and needs. So, we went out of our way to get something for everyone. All you have to do is make up your mind and pick one! It doesn’t matter if you’re a college student, a working professional or a bike enthusiast who just wants to ride around the city for the weekend, pick something that suits your lifestyle and Wallet as well.
					</div>
					<div class="grid_4 prefix_1">
						<h3>Why Choose Us</h3>
						<ul class="list li">
							<li class="list_count">1</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Safety</a></div>
								Your safety is our priority. We guarantee a comprehensive insurance and also an ISI marked helmet. With all new bikes and a strict maintenance policy, you can keep calm and ride YOURBIKE.
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">2</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Pit stops</a></div>
								We have ‘YOURBIKE  Rental Hubs’ in different parts of the city, so you’d never go 'OffBikes'. Reach out to us from wherever you are and we’ll fix you right up!
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">3</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">Offer Zone</a></div>
								You can count on us for the best bike rental prices in the city! Find  weekly offers on our site and cut your wallet some slack.
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">4</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="#">One stop shop</a></div>
								Be it everyday commute, road trips and tour packages, riding gears, exclusive bike merch or refurbishing and maintenance - we have them all!
							</li>
						</ul>
					</div>
					<div class="clear"></div>
					<div class="grid_12">
						<h3 class="h3__ind1">Testimonials</h3>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i> “The reason I’m drawn to it is – both the off-road racing and the motorcycles on the track – it takes a lot for me to quiet my brain and anything that requires 100% of my attention and focus I find very soothing and that is the closest I get to being content...” </i></p>
							<div class="color2">Dax Shepard</div>
						</blockquote>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i>“A motorcycle functions entirely in accordance with the laws of reason, and a study of the art of motorcycle maintenance is really a miniature study of the art of rationality itself...” </i></p>
							<div class="color2">Robert M. Pirsig</div>
						</blockquote>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i> “Riding a motorcycle on today’s highways, you have to ride in a very defensive manner. You have to be a good rider and you have to have both hands and both feet on the controls at all times...”</i></p>
							<div class="color2"> Evel Knievel</div>
						</blockquote>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_phone"><span>Call Us:</span> +91 94475 45213</div>
					<div class="socials">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						<div class="st1">
						<div class="brand">Your<span class="color1">B</span>ike </div>
						&copy; 2020	| Privacy Policy</div> Website designed by Athul
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>